@model RunGroopWebApp.ViewModels.DashboardViewModel

<h1 class="display-4 fw-normal">User Dashboard</h1>
<a type="button" class="btn btn-primary" asp-area="" asp-controller="Club" asp-action="Create">Create Club</a>
<a type="button" class="btn btn-primary" asp-area="" asp-controller="Race" asp-action="Create">Create Race</a>
<a type="button" class="btn btn-primary" asp-area="" asp-controller="Dashboard" asp-action="EditUserProfile">Edit User Profile</a>
<div class="album py-5 bg-light">
    <div class="container">
        <h2 class="display-4 fw-normal">Your races</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            @foreach (var item in Model.Races)
            {
             <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="@item.Image" width="100%" height="225" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">@item.Title</p>
                   <p class="card-text">@item.Description</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a type="btn btn-success" asp-controller="Club" asp-action="Detail" asp-route-id="@item.Id"
                                    class="btn btn-sm btn-outline-secondary">View</a>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a asp-controller="Race" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Edit</a>
                            <a asp-controller="Race" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Delete</a>
                        }
                    </div>
                    <small class="text-muted">@item.RaceCategory</small>
                  </div>
                </div>
              </div>
            </div>
            }
            </div>
        <h2 class="display-4 fw-normal">Your Clubs</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            @foreach (var item in Model.Clubs)
            {
                <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="@item.Image" width="100%" height="225" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">@item.Title</p>
                   <p class="card-text">@item.Description</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a type="btn btn-success" asp-controller="Club" asp-action="Detail" asp-route-id="@item.Id"
                                    class="btn btn-sm btn-outline-secondary">View</a>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a asp-controller="Club" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Edit</a>
                            <a asp-controller="Club" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Delete</a>
                        }
                    </div>
                    <small class="text-muted">@item.ClubCategory</small>
                  </div>
                </div>
              </div>
            </div>
            }
            </div>
        
    </div>
</div>