@model IEnumerable<Race>

@{
    bool isAuthenticated = User.Identity?.IsAuthenticated == true;
}

<section class="space-sm flush-with-above">
    <div class="container">
        <ul class="row feature-list feature-list-sm">
            @foreach (var race in Model)
            {
                <li class="col-12 col-md-6 col-lg-4">
                    <div class="card">
                        <a type="button" asp-controller="Club" asp-action="Detail" asp-route-id="@race.Id">
                            <img class="card-img-top" src="@race.Image" alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <h4 class="card-title">@race.Title</h4>
                            <p class="card-text">@race.Description</p>
                        </div>
                        <div class="card-footer card-footer-borderless d-flex justify-content-between">
                            <div>
                                <small>@race.RaceCategory</small>
                            </div>
                            @if (isAuthenticated && User.IsInRole("admin"))
                            {
                                <div>
                                    <a type="button" class="btn btn-sm btn-outline-info" asp-controller="Race" asp-action="Edit" asp-route-id="@race.Id">
                                        Edit
                                    </a>
                                    <a type="button" class="btn btn-sm btn-outline-danger" asp-controller="Race" asp-action="Delete" asp-route-id="@race.Id">
                                        Delete
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</section>