@using RunGroopWebApp.Data.Enum
@using RunGroopWebApp.Extensions
@using RunGroopWebApp.ViewModels
@model IndexClubViewModel

@{
    bool isAuthenticated = User.Identity?.IsAuthenticated == true;

    int resultStart = ((Model.Page - 1) * Model.PageSize) + 1;
    int resultEnd = Math.Min(resultStart + Model.PageSize - 1, Model.TotalClubs);

    bool isValidPage = resultStart <= Model.TotalClubs;

    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}


<section class="space-sm flush-with-above">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <p>Club Categories</p>
                <div class="mb-3">
                    <a type="button" class="btn btn-secondary mb-1" asp-action="Index" asp-route-page="1" asp-route-category="-1">All</a>
                    @foreach (var category in Html.GetEnumSelectList<ClubCategory>())
                    {
                        <a type="button" class="btn btn-secondary mb-1" asp-action="Index" asp-route-page="1" asp-route-category="@category.Value">@category.Text</a>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <div>
                @if (isValidPage)
                {
                    <a type="button" class="btn btn-sm btn-outline-primary @prevDisabled"
                   asp-action="Index" asp-route-page="@(Model.Page - 1)" asp-route-category="@Model.Category">
                        Prev
                    </a>
                    <a type="button" class="btn btn-sm btn-outline-primary @nextDisabled"
                   asp-action="Index" asp-route-page="@(Model.Page + 1)" asp-route-category="@Model.Category">
                        Next
                    </a>
                    <span class="text-muted text-small">Results @resultStart - @resultEnd of @Model.TotalClubs</span>
                }
            </div>
        </div>
        <ul class="row feature-list feature-list-sm">
            @foreach (var club in Model.Clubs)
            {
                <li class="col-12 col-md-6 col-lg-4">
                    <div class="card">
                        <a type="button" asp-controller="Club" asp-action="DetailClub" asp-route-runningClub="@club.Title.GenerateSlug()" asp-route-id="@club.Id">
                            @if(@club.Image != null)
                            {
                                <img class="card-img-top" src="@club.Image" alt="Card image cap">   
                            }
                            else
                            {
                                <img class="card-img-top" src="/img/rungroopclub.png" alt="Card image cap">   
                            }
                            
                        </a>
                        <div class="card-body">
                            <h4 class="card-title">@club.Title</h4>
                            <p class="card-text">@club.Description</p>
                            <p class="card-text">@club.Address.City, @club.Address.State</p>
                        </div>
                        <div class="card-footer card-footer-borderless d-flex justify-content-between">
                            <div>
                                <small>@club.ClubCategory</small>
                            </div>
                            @if (isAuthenticated && User.IsInRole("admin"))
                            {
                                <div>
                                    <a type="button" class="btn btn-sm btn-outline-info" asp-controller="Club" asp-action="Edit" asp-route-id="@club.Id">
                                        Edit
                                    </a>
                                    <a type="button" class="btn btn-sm btn-outline-danger" asp-controller="Club" asp-action="Delete" asp-route-id="@club.Id">
                                        Delete
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </li>
            }
        </ul>
        <div class="d-flex justify-content-between align-items-center mb-4">
            <div>
                @if (isValidPage)
                {
                    <a type="button" class="btn btn-sm btn-outline-primary @prevDisabled"
                   asp-action="Index" asp-route-page="@(Model.Page - 1)" asp-route-category="@Model.Category">
                        Prev
                    </a>
                    <a type="button" class="btn btn-sm btn-outline-primary @nextDisabled"
                   asp-action="Index" asp-route-page="@(Model.Page + 1)" asp-route-category="@Model.Category">
                        Next
                    </a>
                    <span class="text-muted text-small">Results @resultStart - @resultEnd of @Model.TotalClubs</span>
                }
            </div>
        </div>
    </div>
</section>
